.calendar-container{

    border:2px solid #ccc;
}

.week-abs {
  position: absolute;
  height: 430px;
  width: 270px;
  border: 1px solid #eee;
  background-color: #fff;
}

  .week-abs.own-birthday {
    border: 1px solid #ff0000;
  }

  .week-abs .first-day, .week-abs .last-day {
    position: absolute; }

  .week-abs .first-day {
    top: 10px;
    right: 10px;
  }

  .week-abs .weekOfLife {
    font-size: 450%;
    color: #ddd;
    top: calc(50% - 5vw);
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .week-abs .last-day {
    bottom: 10px;
    left: 10px; }

.calendar {
  /* white-space: nowrap; */
  border: 1px solid #ffcccc;
  font-family: sans-serif;
}

.week {
  width: 6%;
  margin: 0.5%;
  padding: 0.22%;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 1.2vw;
}

.week.own-birthday {
  border: 1px solid #ff0000;
}

/*.cutCorner {
  -webkit-clip-path: polygon(100% 0, 100% 65%, 54% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 65%, 54% 100%, 0 100%, 0 0);
}*/




.cutCorner .upper1 {
    position:absolute;
    left:-1px;
    top:-1px;
    border-top: 70px dashed silver;
    border-right: 70px dashed transparent;
}

.cutCorner .upper2 {
    position:absolute;
    left:-2px;
    top:-2px;
    border-top: 70px dashed white;
    border-right: 70px dashed transparent;
}

.cutCorner .bottom1 {
    position:absolute;
    right:-1px;
    bottom:-1px;
    border-bottom: 70px dashed silver;
    border-left: 70px dashed transparent;
}

.cutCorner .bottom2 {
    position:absolute;
    right:-2px;
    bottom:-2px;
    border-bottom: 70px dashed white;
    border-left: 70px dashed transparent;
}

.week-events {
  top: calc(50% - 75px);
  font-size: 11px;
  margin: 80px auto;
  padding: 0;
  text-align: center;
  width: 80%;
  list-style-type: none;
}

.week-events li {
  border-bottom: 1px solid #ddd;
}
